@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

@font-face {
    font-family: 'Urban Tribe';
    src: url('fonts/URBAN TRIBE.ttf') format('truetype');
}


body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: "/images/fondo.jpg";
}

.ciberseguridad {
    font-family: 'Urban Tribe', sans-serif;
    font-size: 60px; /* Ajusta el tamaño de la fuente según tus necesidades */
    position: relative; /* o 'absolute' si necesitas sacar el elemento del flujo normal del documento */
    top: 105px; /* Aumenta este valor para bajar la palabra en la pantalla */
    /* Asegúrate de incluir el resto de tus estilos aquí */
}

